PORT=5000
DEMO_MODE=false
APP_TIMEZONE=Asia/Kolkata
ENABLE_AUTOMATIC_SCHEDULER=true

# Telephony Exotel Credentials
EXOTEL_ACCOUNT_SID=your_exotel_account_sid
EXOTEL_API_KEY=your_exotel_api_key
EXOTEL_API_TOKEN=your_exotel_api_token
EXOTEL_PHONE_NUMBER=your_exotel_virtual_number
EXOTEL_SUBDOMAIN=api.exotel.com

# Exotel App / Flow ID
EXOTEL_FLOW_ID=1348520
EXOTEL_PASSTHRU_URL=
